{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<h1>Edit Profile</h1>
<form action="/profile" method="post">
    <p>Username: </p>
    <input type="text" name="username" id="username" value="{{user.username}}">
    <p>Email: </p>
    <input type="email" name="email" id="email" value="{{user.email}}">
    <p>Name: </p>
    <input type="text" name="name" id="name" value="{{user.name}}">
    <p>Bio: </p>
    <textarea name="bio" id="bio">{{user.bio}}</textarea>
    {% if role == 'student' %}
    <p>Grade Level: </p>
    <input type="text" name="grade_level" id="grade_level" value="{{user.grade}}">
    {% endif %}
    {% if role == 'teacher' %}
    <p>Education Level: </p>
    <input type="text" name="education_level" id="education_level" value="{{user.education}}">
    <p>Experience: </p>
    <input type="text" name="experience" id="experience" value="{{user.experience}}"><br>
    {% endif %}
    <input type="submit" value="Save" class="btn btn-success">
</form>
{% endblock %}