{% extends "base.html" %}
{% block title %}Browse{% endblock %}
{% block content %}
<h4>Enrolled Courses</h4>
<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<table>
    <tr>
        <th>Course Name</th>
        <th>Actions</th>
    </tr>
    {% for course in courses %}
    {% if course not in user.enrolled %}
    <tr>
        <td><a href="#">{{ course.name }}</a></td>
        <td>
            <a href="#"><button type="button" class="btn btn-danger">Unenroll</button></a>
            <a href="#"><button type="button" class="btn btn-success">My Score</button></a>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}