{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<h1>Profile</h1>
<a href="{{url_for('main.edit_profile')}}"><button class="btn btn-warning">Edit Profile</button></a>
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<p>Name: {{ user.name }}</p>
<p>Bio: {{ user.bio }}</p>
{% if role == 'student' %}
<p>Grade Level: {{ user.grade }}</p>
{% endif %}
{% if role == 'teacher' %}
<p>Education Level: {{ user.education }}</p>
<p>Experience: {{ user.experience }}</p>
{% endif %}
<form action="/profile" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Account" class="btn btn-danger">
</form>
{% endblock %}